{%- if page.id -%}
<!--Every article has a id, but special pages don't unless you set manually.
This prevents Cusdis from appear everywhere-->
<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="42886e12-2175-4333-9a02-ce0a17f159bd"
  data-page-id="{{ page.id }}"
  data-page-url="{{ site.url }}{{ page.baseurl }}{{ page.url }}"
  data-page-title="{{ page.title }}"
  data-theme="dark"
></div>
<script defer src="https://cusdis.com/js/cusdis.es.js">
</script>

<script>
  console.log("Cusdis fix");
  window.addEventListener('load', function () {
    let iframe = document.querySelector("#cusdis_thread iframe");
    if (iframe) {
        let observer = new MutationObserver(() => {
            let scrollHeight = iframe.contentWindow.document.body.scrollHeight;
            iframe.style.height = scrollHeight + "px";

          const additionalStyles = `
            .dark {
                background: #181818;
                color: #bbbbbb;
            }
            `;
        
          iframe.srcdoc = iframe.srcdoc.replace('</style>', additionalStyles + '</style>');
        });
        observer.observe(iframe.contentWindow.document.body, { childList: true, subtree: true });
    }
});
</script>

{%- endif -%}
