
//
// VARIABLES
//

// Dark Mode Colors, based on minima dark style
$dm-brand-color:           #27221a !default;
$dm-brand-color-light:     lighten($dm-brand-color, 5%) !default;
$dm-brand-color-dark:      darken($dm-brand-color, 35%) !default;

$dm-site-title-color:      $dm-brand-color-light !default;

$dm-text-color:            #888888 !default;
$dm-text-color-light:      lighten($dm-text-color, 5%) !default;
$dm-text-color-dark:       darken($dm-text-color, 20%) !default;
$dm-background-color:      #181818 !default;
$dm-code-background-color: #212121 !default;

$dm-link-base-color:       #B8860B !default;
$dm-link-visited-color:    $dm-link-base-color !default;
$dm-link-hover-color:      darken($dm-link-base-color, 20%) !important;

$dm-border-color-01:       $dm-brand-color-dark !default;
$dm-border-color-02:       $dm-brand-color-light !default;
$dm-border-color-03:       $dm-brand-color !default;

$dm-table-text-color:      $dm-text-color !default;
$dm-table-zebra-color:     lighten($dm-background-color, 4%) !default;
$dm-table-header-bg-color: lighten($dm-background-color, 10%) !default;
$dm-table-header-border:   lighten($dm-background-color, 21%) !default;
$dm-table-border-color:    $dm-border-color-01 !default;

$dm-selected-text-color: $dm-text-color; // #bbbbbb !default;
$dm-selected-text-background: $dm-link-base-color; // #00008b !default;


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
